{% extends 'base/base_participantes.html' %}

  {% block parti %}

<table class="table table-bordered responsive-table">
  <thead>
    <tr>
      <td>Nombre de usuario</td>
      <td>Nombre</td>
      <td>Apellidos</td>
      <td>Email</td>
      <td>Fecha de Creación</td>
      <td>Ultima sesión</td>
      
      <td></td>
    </tr>
    
  </thead>
  <tbody>

{% if object_list %}
    {% for p in object_list %}
    <tr>
      <td>{{ p.username }}</td>
      <td>{{ p.first_name }}</td>
      <td>{{ p.last_name }}</td>
      <td>{{ p.email }}</td>
      <td>{{ p.date_joined }}</td>
      <td>{{ p.last_login }}</td>

      <td>
        <a class="btn btn-primary" href="{% url 'usuario:user_editar' p.id %}">Ver, Editar</a>
        <a class="btn btn-danger" href="{% url 'usuario:user_eliminar' p.id %}">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
    
    {% else %}
    <h4>No hay registros de Participantes</h4>
    {% endif %}
  </tbody>
</table> 

    {% if page_obj.has_previous %}
         <a class="waves-effect waves-light btn modal-trigger center-align"  href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% if page_obj.has_next %}
       <a class="waves-effect waves-light btn modal-trigger center-align"  href="?page={{ page_obj.next_page_number }}">Next</a> 
      {% endif %}

  {% endblock %}